.container {
    background-color: rgb(47, 0, 255);
    border: 5px solid black;
    padding: 15px;
    display: grid;
    gap: 10px;
    grid-template-areas:
    'header header header header'
    'menu menu menu menu'
    'context context context context'
    'footer footer footer footer'
}

#header {
    grid-area: header;
}
#menu {
    grid-area: menu;
}

#context {
    grid-area: context;
    height: 100vh;
}

#footer {
    grid-area: footer;
}

.container div {
    background-color: gray;
    padding: 15px;
    border: 1px solid black;
}